.addButton {
  margin-top: 2rem;
  width: 15%;
  height: 3rem;
  display: flex;
}

.searchBar {
  display: inline-flex;
  padding-left: 50rem;
  height: 2rem;
}

.addButton .searchBar .searchBarImage {
  border: 1px;
}

.table {
  margin-top: 2rem;
}

.table th {
  width: 200px;
}
